.container {
    display: flex;
    justify-content: space-between;
    padding: 36px 50px;
}

.logo {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
}

.links {
    display: flex;
}

.links li {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2rem;
    position: relative;
}

.links li:after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #fff;
    height: 2px;
    transition-property: left right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.links li:hover:after,
.links li:focus:after,
.links li:active:after {
    right: 0;
}

.link {
    color: #fff;
    opacity: 0.9;
}

.link:hover {
    color: #2ecc71;
    opacity: 1;
}

.link_home {
    display: none;
}

.icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
}

/* TODO: mobile nav */
@media only screen and (max-width: 590px) {

    .container_open {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        opacity: 0.95;
        animation-name: slideIn;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.1s;
        top: 0;
    }

    .logo {
        display: none;
    }

    .links {
        display: none;
    }

    .links_open {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .link_disabled {
        cursor: default;
        color: #999;
        font-size: 1.5rem;
        text-transform: uppercase;
        position: relative;
        padding: 0 1rem;
        border-bottom: 0.1rem solid #999;
    }

    .link {
        color: #333;
        font-size: 1.5rem;
        text-transform: uppercase;
        position: relative;
        padding: 0 1rem;
    }

    .link:before,
    .link:after {
        position: absolute;
        opacity: 0;
        font-size: 1.5rem;
        top: 0px;
        transition: all 0.3s;
    }

    .link:before {
        content: '(';
        left: 0px;
        transform: translateX(0.3rem);
    }

    .link:after {
        content: ')';
        right: 0px;
        transform: translateX(-0.3rem);
    }

    .link:hover:before,
    .link:hover:after {
        opacity: 1;
        transform: translateX(0px);
    }

    .icon {
        display: flex;
    }
}