.container {
    width: 16rem;
    height: 16rem;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: opacity 0.5s;
}

.project div {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0;
    transition: opacity 0.5s;
}

.project_overlay:hover {
    opacity: 0.9;
}

.btn_more {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: fit-content;
    margin: 1rem auto 0 auto;
    border-radius: 500vw;
    padding: 0.3rem;
}

.btn_more:hover {
    background-color: #ddd;
}

.description {
    width: 80%;
    margin: 20% auto 0 auto;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}

.tags {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.lan_tag {
    color: #fff;
    display: inline-block;
    margin-left: 0.3rem;
    border-radius: 500vw;
    padding: 0.3rem;
    font-size: 0.7rem;
    border: 1px solid #fff;
}